%h1 Edit Profile

= form_for @client, url: {action: "update"} do |f|
  %h2 Name
  %label
    Full Name
    = f.text_field :full_name, :required => true
  %p.details.small
    Your full name will not be made public.

  %label
    Preferred name
    = f.text_field :nickname
  %p.details.small
    <strong>Required</strong> Enter a nickname if you want. If you don't enter a preferred name, we'll display your first name instead.

  %h2 Tell us about yourself
  %label
    Photo
    = f.file_field :photo
  
  %label
    Bio
    %textarea

  = f.submit "Save your profile"
