<!DOCTYPE html>
%html
  %head
    %title Jazz Hands
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav{:class => "navbar navbar-default navbar-fixed-top", :role =>"navigation"}
      %div{:class => "container"}
        %div{:class => "navbar-header"}
          %button{:type => "button", :class => "navbar-toggle", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span{:class => "sr-only"}Toggle navigation
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
          =link_to image_tag('logo.png'), home_path, :class => "navbar-brand"
        %div{:class => "collapse navbar-collapse", :id => "navbar-collapse1"}
          %ul{:class => "nav navbar-nav pull-right"}
            %li
              =link_to 'Home', home_path
            %li
              =link_to 'Search', search_path
            %li
              =link_to 'About', about_path
            %li
              =link_to 'Sign Up', new_user_registration_path
            %li
              =link_to 'Sign In', new_user_session_path
    .jumbotron
      .container
        %h1
          %p
            %strong Welcome
            to Jazz Hands.
    %section.container
      = yield
    %footer#footer
      %div.container
        %p.text-muted 
          All rights reserved Jazz Hands. w00t!
          - if client_signed_in?
            = link_to 'Client sign out', destroy_client_session_path, :method => 'delete', :class => 'pull-right'
          - else
            = link_to 'Client registration', new_client_registration_path, :class => 'pull-right'
            = link_to 'Client sign in', new_client_session_path, :class => 'pull-right'
          %a.pull-right(href="#")
            Partner sign in
